*{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif ;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
}
form{
    width: 35rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    border-top: 2px solid whitesmoke;
    box-shadow: 0 8px 32px 0 rgba(167, 142, 142, 0.952);
    border-left: 2px solid whitesmoke;
    border-radius: 1.5rem;
}
 h1{
    text-align: center;
    font-size: 30px;
    color:black;
    letter-spacing: 3px;
    margin-bottom: 10%;
    
}

input{
    width: 80%;
    margin: 5% auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
    background-color: whitesmoke;
    outline: none;
    opacity: .8;
}
button{
    width: 20%;
    margin: 3% auto;
    font-size: 20px;
    opacity: .7;
    outline: none;
    background-color: rgba(red, green, blue, 0.06);
    padding: 10px 15px;
    
    
}
button a{
    text-decoration: none;
}
a{
    text-align: center;
}